.contact-form2-wrapper {
  display: contents;
}
 
.contact-form2-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form2-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-contact-info {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form2-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form2-row3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.contact-form2-form {
  gap: 24px;
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form2-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-text-input1 {
  width: 100%;
}
 
.contact-form2-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-text-input2 {
  width: 100%;
}
 
.contact-form2-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form2-textarea {
  width: 100%;
}
 
.contact-form2-checkbox {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
}
 
.features16-fragment17 {
  display: contents;
}
 
.features16-text20 {
  display: inline-block;
}
 
.features16-fragment18 {
  display: contents;
}
 
.features16-text21 {
  display: inline-block;
}
 
.features16-fragment15 {
  display: contents;
}
 
.features16-text17 {
  display: inline-block;
}
 
.features16-fragment10 {
  display: contents;
}
 
.features16-text12 {
  display: inline-block;
}
 
.features16-fragment21 {
  display: contents;
}
 
.features16-text24 {
  display: inline-block;
}
 
.features16-fragment22 {
  display: contents;
}
 
.features16-text25 {
  display: inline-block;
}
 
.features16-fragment23 {
  display: contents;
}
 
.features16-text26 {
  display: inline-block;
}
 
.features16-fragment24 {
  display: contents;
}
 
.features16-text27 {
  display: inline-block;
}
 
.features16-fragment25 {
  display: contents;
}
 
.features16-text28 {
  display: inline-block;
}
 
.features16-fragment11 {
  display: contents;
}
 
.features16-text13 {
  display: inline-block;
}
 
.features16-fragment12 {
  display: contents;
}
 
.features16-text14 {
  display: inline-block;
}
 
.features16-fragment13 {
  display: contents;
}
 
.features16-text15 {
  display: inline-block;
}
 
.features16-fragment14 {
  display: contents;
}
 
.features16-text16 {
  display: inline-block;
}
 
.features16-fragment16 {
  display: contents;
}
 
.features16-text18 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form2-max-width {
    flex-direction: column;
  }
  .contact-form2-content {
    width: 100%;
  }
  .contact-form2-form {
    width: 100%;
  }
}

.features16-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-max-width {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features16-section-title {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-text10 {
  text-align: center;
}
 
.features16-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.features16-text11 {
  text-align: center;
}
 
.features16-fragment10 {
  display: contents;
}
 
.features16-text12 {
  display: inline-block;
}
 
.features16-fragment11 {
  display: contents;
}
 
.features16-text13 {
  display: inline-block;
}
 
.features16-fragment12 {
  display: contents;
}
 
.features16-text14 {
  display: inline-block;
}
 
.features16-fragment13 {
  display: contents;
}
 
.features16-text15 {
  display: inline-block;
}
 
.features16-fragment14 {
  display: contents;
}
 
.features16-text16 {
  display: inline-block;
}
 
.features16-fragment15 {
  display: contents;
}
 
.features16-text17 {
  display: inline-block;
}
 
.features16-fragment16 {
  display: contents;
}
 
.features16-text18 {
  display: inline-block;
}
 
.features16-text19 {
  text-align: center;
}
 
.features16-content2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.features16-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.features16-feature1 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-content3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features16-feature1-title {
  text-align: center;
}
 
.features16-feature2 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-content4 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features16-feature3 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-content5 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features16-fragment17 {
  display: contents;
}
 
.features16-text20 {
  display: inline-block;
}
 
.features16-fragment18 {
  display: contents;
}
 
.features16-text21 {
  display: inline-block;
}
 
.features16-fragment19 {
  display: contents;
}
 
.features16-text22 {
  display: inline-block;
}
 
.features16-fragment20 {
  display: contents;
}
 
.features16-text23 {
  display: inline-block;
}
 
.features16-fragment21 {
  display: contents;
}
 
.features16-text24 {
  display: inline-block;
}
 
.features16-fragment22 {
  display: contents;
}
 
.features16-text25 {
  display: inline-block;
}
 
.features16-fragment23 {
  display: contents;
}
 
.features16-text26 {
  display: inline-block;
}
 
.features16-fragment24 {
  display: contents;
}
 
.features16-text27 {
  display: inline-block;
}
 
.features16-fragment25 {
  display: contents;
}
 
.features16-text28 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features16-section-title {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features16-max-width {
    gap: 24px;
  }
  .features16-section-title {
    width: auto;
  }
  .features16-text11 {
    text-align: center;
  }
  .features16-row {
    flex-direction: column;
  }
  .features16-feature2 {
    width: auto;
  }
  .features16-feature3 {
    width: auto;
  }
}
