.navbar11-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar11-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
 
.navbar11-image1 {
  height: 3rem;
}
 
.navbar11-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar11-links1 {
  gap: 32px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar11-link11 {
  text-decoration: none;
}
 
.navbar11-link21 {
  text-decoration: none;
}
 
.navbar11-link31 {
  text-decoration: none;
}
 
.navbar11-link41 {
  text-decoration: none;
}
 
.navbar11-link51 {
  text-decoration: none;
}
 
.navbar11-buttons1 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar11-action11 {
  display: flex;
  flex-direction: row;
}
 
.navbar11-action21 {
  display: flex;
  flex-direction: row;
}
 
.navbar11-burger-menu {
  display: none;
}
 
.navbar11-icon10 {
  width: 16px;
  height: 16px;
}
 
.navbar11-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar11-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar11-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
 
.navbar11-logo {
  height: 3rem;
}
 
.navbar11-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar11-icon12 {
  width: 16px;
  height: 16px;
}
 
.navbar11-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar11-link12 {
  text-decoration: none;
}
 
.navbar11-link22 {
  text-decoration: none;
}
 
.navbar11-link32 {
  text-decoration: none;
}
 
.navbar11-link42 {
  text-decoration: none;
}
 
.navbar11-link52 {
  text-decoration: none;
}
 
.navbar11-buttons2 {
  gap: 32px;
  display: flex;
  margin-top: 32px;
  align-items: center;
  flex-direction: row;
}
 
.navbar11-icon-group {
  gap: 32px;
  display: flex;
}
 
.navbar11-fragment1 {
  display: contents;
}
 
.navbar11-text14 {
  display: inline-block;
}
 
.navbar11-fragment2 {
  display: contents;
}
 
.navbar11-text15 {
  display: inline-block;
}
 
.navbar11-fragment3 {
  display: contents;
}
 
.navbar11-text16 {
  display: inline-block;
}
 
.navbar11-fragment4 {
  display: contents;
}
 
.navbar11-text17 {
  display: inline-block;
}
 
.navbar11-fragment5 {
  display: contents;
}
 
.navbar11-text18 {
  display: inline-block;
}
 
.navbar11-fragment6 {
  display: contents;
}
 
.navbar11-text19 {
  display: inline-block;
}
 
.navbar11-fragment7 {
  display: contents;
}
 
.navbar11-text20 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar11-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar11-desktop-menu {
    display: none;
  }
  .navbar11-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar11-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar11-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
